:root{
    /* colors */
    --bg-color:#f9f9f9;
    --font-color:#505050;
    --lp-color:#d3d3d3;
    --sm-h1:2rem;
    --sm-h3:1.4rem;
    --sm-h4:1.1rem;
    /* --sm-h5:0.8rem */
    --sm-font:0.75rem;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
    color: var(--font-color);
}

.wrapper{
    width: 90%;
    max-width: 1020px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 0.3fr 3fr; */
    background-color: #fcfcfc;

    grid-template-areas: 
        "left-pane" 
        "right-pane";

   
}

.left-pane{
    grid-area: left-pane;
    /* padding: 0 1rem; */
    /* background-color: #e9e9e9; */
}

.right-pane{
    grid-area: right-pane;
}

.basic-profile{
    /* background-color: #f5f5dc; */
    /* grid-area: basic-profile; */
    /* grid-row: 1; */
    padding: 1.5rem 0.2rem 1rem 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-name{
    text-align: center;
    /* outline: 2px solid red; */
    /* outline-offset: 5px; */
    /* border: 2px solid red; */
}

.profile-name h1{
    font-size: var(--sm-h1);
    word-spacing: 0.5rem;
}

.profile-name p{
    font-size: var(--sm-h4);
    font-weight: 600;
}

.profile-description p{
    text-align:justify;
}

.main-content{
    /* grid-row: 2; */
    /* border: solid 1px red; */
    padding: 0rem 0.2rem 0 0.2rem;
}

.main-content h3{
    position: relative;
    font-size: var(--sm-h3);
    /* text-align: center; */
    font-weight: 600;
    padding: 0.8rem 0 0.3rem 0;
    letter-spacing: 2px;
    margin-top: 10px;
    
}



.main-content h3::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 50px;
    background-color:#696969;
    top: 40px;
    left: 0;
}

.main-content h4{
    font-size: var(--sm-h4);
    font-weight: 600;
    padding: 0.3rem 0 0;
   
    
}

.main-content h5{
    margin-top: -4px;
    
}

.main-content .education span{
    display: block;
    margin-left: -10px;
    margin-top: -6px; 
    
}



.basic-profile .profile-img img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
    /* background-color: #eeeeee; */
    border: solid 1px rgba(204, 204, 204, 0.35);
}

.main-content ul:not(:nth-child(3)){
    list-style-position: outside;
    list-style-type: square;
    margin-left: 10px;
    /* margin: 0 0 0 10px; */
    /* padding: 0; */
    
    
}

.main-content ul li::before{
    content: "";
    margin-right: -10px;  
}

.main-content ul li{
    /* list-style-position: outside; */
    /* list-style-type: square; */
    /* margin: 0; */
    /* padding: 0.1rem 0.rem;  */
    text-indent: 5px;   
}

.contact li{
    list-style: none;
    /* list-style-position: inside; */
    /* margin-right: 0; */
}

/* .contact span{
    display: inline-block;
    margin-top: 0;
    margin-left: 0;
} */
.footer{
    position: absolute;
    top: 60px;
    left: 2px;
    /* width: 50%; */
    /* margin: 0 100px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-right: 5px;
    z-index: 5;    
}

.footer a{
    display: inline-block;
    text-align: center;
    padding: 0.5rem;
    


}



.footer a:visited i,
.footer a:active i{
    color: var(--font-color);

}

.footer a:hover i{
    color: #ff0080;

}

.footer a i{
    font-size: 1.7rem;
    

}


@media(min-width:560px){

    /* .basic-profile{ */
        /* display: grid; */
        /* grid-template-columns: 1.5fr 3fr; */
        /* border:red solid 1px; */
        /* gap: 0 20px; */
        /* padding: 3rem 0.2rem 0rem 0.2rem; */

        /* grid-template-areas:  */
        /* "pro-img" "pro-name"; */
    
    /* } */

    .profile-img{
        grid-area: pro-img;
        border: none;
        padding: 5px 20px 5px 20px;
        background-color: #e9e9e9;
    
    }
    
    .profile-name{
        text-align: center;
        
    }

    .main-content{
        display: grid;
        grid-template-columns: 1.5fr 3fr;
        grid-template-areas: 
        "left-pane right-pane";
        gap: 0 30px;
        height: 100vh;
        /* align-items: center; */
        justify-content: center;
        
    }

    .left-pane{
        background-color: #e9e9e9;
        padding: 0 1.2rem;
        
    }


    .footer{
        position: relative;
        top: 0;
        left: 0;
        /* width: 50%; */
        margin: 3rem 0 0 0;
        display: flex;
        padding: 1rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    

}
